

<section class="overflow-hidden">
    <div class="container main-container py-5 text-center">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            
            <div class="text-decoration-none bg-gray-100">
                <div style="align-content:center; ">
                    <img src="/assets/laptop.jpg" height="164px" width="253px" alt="">
                </div>
            </div>

            <div>

                <h2 class="text-sm title-font text-gray-500 tracking-widest"> Notebook Asus</h2>

                <p class="text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit.inventore voluptates atque itaque totam excepturi laborum error reiciendis vel autem hic eius iusto? Tempora omnis iste ipsam temporibus, similique nesciunt?</p>
                <div class="flex">
                    <h3>

                        <span class="text-body" style="margin-right: 5px;">R$ 258,00</span>
                    </h3>
                </div>
                <div> 
                    <a class="btn btn-primary text-white">
                        <span>Comprar</span> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>