<div class="container main-container col-md-12">
    <div class="row py-5 mb-5">
        <div class="col-6 text-center" style="padding-bottom: 30px;">
            <img src="/assets/monitor.jpg"  height="164px" width="253px" alt="" />
            <div class="text-center">
                <div>
                    <h2 class="font-bold text-gray">Monitor UltraWide 29"</h2>
                </div>
                <div class="mt-4 flex">
                    <div class="items-center">
                        <h3>R$ 250,00</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="/assets/celular.jpg" height="164px" width="253px" alt="" />
            <div class="text-center">
                <div>
                    <h2 class="font-bold text-gray">Galaxy S10+</h2>
                </div>
                <div class="mt-4 flex">
                    <div class="items-center">
                        <h3>R$ 250,00</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-6 text-center">
            <h4 class="text-dark">Subtotal: R$ 500,00</h4>
            <h4 class="text-dark"> Valor frete: R$ 29,99</h4>
        </div>
        <div class="col-6 text-center">
            <h4 class="text-dark">Total a pagar: R$ 500,00</h4>
            <span><button class="btn btn-success" type="submit">Finalizar Compra</button></span>
        </div>
    </div>
</div>

