a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: wrap;
    height: 60px;
    line-height: 60px;
}

button{
    margin: 0 5px;
}

input,
select,
file,
textarea {
    max-width: 400px;
}